.map-container {
  margin: auto;
  height: 550px;
  /* width: 650px; */
  width: 100%;
  /* background-color: aqua; */
}

#mapid {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

#iss-image {
  height: 40px;
}

/* map styling for contol */
/* control area for map */
.info {
  padding: 6px 6px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
  color: black;
}

b {
  margin-right: 5px;
}

.orbit {
  padding: 0px 2px;
  font-size: 9px;
  width: 10px;
  height: 4px;
  /* background-color: blue; */
}

/*  for the map legend about orbit lines */
.current {
  color: blue;
  background-color: blue;
}

.past {
  color: purple;
  background-color: purple;
}

.future {
  color: red;
  background-color: red;
}

/* media qeury to  shrink the container for phone screens that 375x667 and under*/
@media (max-width: 415px) {
  .map-container {
    height: 400px;
  }
}
