/*Star Backdrop */
#speed-container.range-field {
  position: fixed;
  right: 2em;
  bottom: 0;
}

/* Date Picker Styling */
.datepicker-date-display {
  background-color: #6200ea;
}

.datepicker-cancel,
.datepicker-done {
  color: #6200ea;
}

.is-today .datepicker-day-button {
  color: #6200ea;
}

td.is-today.is-selected {
  background-color: #bdbdbd !important;
}

.datepicker {
  color: white;
  font-size: 20px;
}

/* Auto scroll for Astroid Data Feed */
#auto-scroll {
  max-height: 600px;
  background-color: #8075ff;
  color: #211a1d;
  overflow-y: scroll;
  margin-bottom: 20px;
}

/* Page Font */
body {
  font-family: "Tomorrow", sans-serif;
  color: #cad5ca;
}

nav {
  position: sticky;
  top: 0;
}

/* Title Styling */
header {
  font-family: "Tomorrow", sans-serif;
  font: 2rem;
  text-align: center;
  color: #f8f0fb;
  font-weight: bolder;
  height: 2.5rem;
  width: 100%;
  padding: 0.1rem;
  /* margin-bottom: 0; */
}

nav {
  margin-bottom: 5px;
  background-color: transparent;
}

/* Body Styling */

.viewPort {
  display: block;
  margin-bottom: 5rem;
}

/* Footer Styling */
footer {
  background-color: #6200ea;
  height: 30px;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  padding: 10px;
}

/* Hide/ Show Element */

.hidden {
  display: none;
}

.shown {
  display: block;
}

#tLabel {
  color: #f8f0fb;
  font: 4rem;
  font-weight: bold;
}

/* container that holds the astroid table */
#auto-scroll {
  max-height: 450px;
  overflow-y: scroll;
  margin: auto;
}
​ #afeedTable thead tr th {
  position: sticky;
  top: 0;
  background-color: rgba(98, 0, 234, 1);
  color: white;
  font-weight: bold;
  /* border: 1px solid black; */
}

/* text color map legends */
.info.leaflet-control {
  color: black;
}

​
/* media qeury to  shrink the container for phone screens that 375x667 and under*/
@media (max-width: 415px) {
  #auto-scroll {
    height: 400px;
  }
}
