/*Star Backdrop */
#speed-container.range-field {
  position: fixed;
  right: 2em;
  bottom: 0;
}

/* Auto scroll for Astroid Data Feed */
#auto-scroll {
  max-height: 600px;
  background-color: #8075FF;
  color: #211A1D;
  overflow-y: scroll;
  margin-bottom: 20px;
}

/* Page Font */
body {
  font-family: 'Tomorrow', sans-serif;
  color: #CAD5CA;
}

/* Title Styling */
header {
  font-family: 'Tomorrow', sans-serif;
  font: 4rem;
  text-align: center;
  color: #F8F0FB;
  font-weight: bolder;
  height: 4.5rem;
  width: 100%;
  padding: .1rem;
  margin-bottom: 5rem;
}

nav {
  margin-bottom: 5rem;
  background-color: transparent;
}

/* Body Styling */

.viewPort {
  display: block;
  margin-bottom: 5rem;

}

/* Footer Styling */
footer{
  background-color: #6200EA;
  height: 30px;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  padding: 10px;
}


/* Hide/ Show Element */

.hidden {
  display: none;
}

.shown {
  display: block;
}

#tLabel {
  color: #F8F0FB;
  font: 4rem;
  font-weight: bold;
}

/* container that holds the astroid table */
#auto-scroll {
  max-height: 450px;
  overflow-y: scroll;
  margin: auto;
}
​
#afeedTable thead tr th {
  position: sticky;
  top: 0;
  background-color: rgba(98, 0, 234, 1);
  color: white;
  font-weight: bold;
  /* border: 1px solid black; */
}
​
/* media qeury to  shrink the container for phone screens that 375x667 and under*/
@media (max-width: 415px) {
  #auto-scroll {
    height: 400px;
  }
}
